[user]
    name = Sarah Whinnem
    email = sarah@madysondesigns.com

[hub]
	protocol = https
	user = madysondesigns

[core]
    quotepath = false
    whitespace = cr-at-eol
	editor = subl -w
    pager = less -FRSX
    autocrlf = input

[alias]
    push = "!git push || $(git push 2>&1 | tail -n2 | head -n1)"
    pull = pull --ff-only
    up = pull --rebase --autostash
    st = status
    ci = commit -v
    co = checkout
    df = "diff ..@{u}"
    di = diff -w
    dc = diff --cached
    r = !git l -20
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
    ra = !git r --all
    ass = add
    mad = add *
    aa = add --all
    rmd = add -u
    edit = commit --amend
    comp = !git l --no-merges
    mall = "!git up && git co stage && git merge master && git push origin stage && git co develop && git merge stage && git push origin develop"

    undo = reset --soft HEAD^
    prune = fetch --prune
    stash-all = stash save --include-untracked

[color]
    ui = true

[merge]
    ff = only
    conflictstyle = diff3

[push]
    default = simple

[pull]
    rebase = true

[branch]
    autosetuprebase = always

[status]
    showUntrackedFiles = all

[gist]
    browse = true
    private = true

[help]
    autocorrect = 1
